<div class="row">
  <div class="col-md-12">
    <img
      class="img-fluid"
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      style="max-height: 300px;"
    />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown" ngbDropdown>
      <button
        ngbDropdownToggle
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdown1"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown
      </button>
      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown1">
        <a
          ngbDropdownItem
          (click)="onAddToShoppingList()"
          style="cursor: pointer;"
          >To Shopping List</a
        >
        <a ngbDropdownItem style="cursor: pointer;" (click)="onEditRecipe()"
          >Edit Recipe</a
        >
        <a ngbDropdownItem style="cursor: pointer;" (click)="onDeleteRecipe()"
          >Delete Recipe</a
        >
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
